<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prime Number Input</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container ">
        <div class="row vh-100 d-flex justify-content-center align-items-center">
           
            <div class="col-md-6">
                <h1>Prime Number Generator</h1>
                <form class="row g-3 mt-3" method='post' action="{% url 'output_page' %}">
                    {% csrf_token %}
                    <div class="col-md-12">
                        <input type="number" class="form-control" id="number" name="number" placeholder='Enter number' required>
                    </div>
                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-primary w-100">Generate</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
